/*
* Global
*/

@font-face {
    font-family: "SpaceGrotesk";
    src: url("./typo/grotesk/SpaceGrotesk-Light.otf");
}

html, body, #siapp {
	width: 100%;
	height: 100%;
  }
  
body, #siapp {
	margin: 0;
	overflow: hidden;
  }
  
canvas {
	width: 100%;
	height: 100%;
  }

/*
* Header
*/

#header_ui{
	margin-top: 1.5vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: absolute;
	width: 100%;
}

#header_ui div{
	font-size: 2em;
	color: white;
}

#score_section{
	display : flex;
	flex-direction: column;
	align-items: flex-start;

}

#sp_points{
	position: absolute;
    font-size: 25px;
    color: green;
    font-weight: bold;
	top: 42px;
    right: 9px;
	opacity: 0;
	animation: animatePoints 1.5s linear;

}

@keyframes animatePoints
{
    0%
    {  
        opacity: 1;
        visibility: visible;
        transform: scale(1.5);
        transform: translateY(0px);
        
    }

    50%
    {
        opacity: 0.5;
        transform: scale(1.3);
        transform: translateY(-30px);
    }

    100%
    {
        opacity: 0;
        transform: scale(1.0);
        transform: translateY(-60px);
        visibility: hidden;
    }
}

/*
* Footer UI
*/

.endurance_bar{
	display: flex;
	position: absolute;
	bottom: 10vh;
	margin-left: 5vw;
	width: 30vw;
	border-radius: 5px;
	box-shadow: inset 5px 5px 10px #2c2c2c,
				inset -5px -5px 10px;
}

.endurance_bar .endurance_stat{
	padding: 8px 0px;
	border-radius: 5px;
	text-shadow: 0 0 5px #000;
}

#endurance{
	background: #3755cc;
	width: 100%;
	/*animation: htmlSlide 1.5s cubic-bezier(0.33,1,0.68,1) forwards;*/
}

@keyframes htmlSlide{
	0%{width:0%;}
	100%{width:100%;}
}

/*
* Start msg
*/

#infos_start{

	color: white;
	font-size: 20px;
	animation: text_shrink 6s linear infinite;
	opacity: 0.3;
	

}

/*
* Death menu
*/

#death_section{

	position: absolute;
	display: flex;
	flex-direction: column;
	margin-left: 40%;
	margin-top: 10vh;
	align-items: center;

}

#header_death{

    display: flex;
    align-items: center;
    flex-direction: column;
	padding: 0px 0px 22px 0px;

}

#player_death_msg{

	font-size: 1.7em;
	color: darkred;

}

#score_final{

	font-size: 1.2em;
	margin-top: 3.5vh;
	color: white;

}

#death_section  #button_section_menu{

    display: flex;
    flex-direction: column;

}

#death_section button {

	text-align: center;
	width: 15vw;
    height: 6vh;
	margin: 19px 0px 0px 0px;

}

/*
* Pause menu
*/

#pause_menu_section{

	position: absolute;
	display: flex;
	flex-direction: column;
	margin-left: 40%;
	margin-top: 10vh;
	align-items: flex-start;

	

}

#pause_menu_section #title_game_menu{

	font-size: 1.5em;
    margin-bottom: 2vh;
	color: whitesmoke;
	
}


#pause_menu_section #title_menu{

	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 2.5em;
    margin-bottom: 4vh;
	color:gray

}

#pause_menu_section #button_section_menu{

	display: flex;
	flex-direction: column;

}

#pause_menu_section #button_section_menu button{

	display: flex;
	flex-direction: column;
	width: 18vw;
	height: 6vh;
	margin: 8px 0px 0px 0px;

}

/*
* Stage Completed menu
*/

#stage_comp_section{

	position: absolute;
	display: flex;
	flex-direction: column;
	margin-left: 40%;
	margin-top: 10vh;
	align-items: center;

}

#header_stage_comp{

    display: flex;
    align-items: center;
    flex-direction: column;
	padding: 0px 0px 22px 0px;

}

#stage_comp_msg{

	font-size: 1.7em;
	color: gray;

}

#score_stage_comp{

	font-size: 1.2em;
	margin-top: 3.5vh;
	color: white;

}

#stage_comp_section  #button_section_menu{

    display: flex;
    flex-direction: row;

}

#stage_comp_section button {

	text-align: center;
	width: 15vw;
    height: 6vh;
	margin: 0px 19px 0px 0px;

}

/*
* Button
*/

button:hover{

	background-color: white;
	color: #373c3e;

}

button{

	background-color: #373c3e; 
	color: white;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	cursor: pointer;
	font-size: 1.2em;
	letter-spacing: 1px;
	text-align: left;
	border: none;
	transition: 0.3;

}

/*
* Common option menu
*/


#tb{
	width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.1);
    position: absolute;
	font-family: 'SpaceGrotesk';

}

#tb *{
	font-family: inherit;
}

.option_menu{
	z-index: 1;
	position: absolute;
	margin-top: 10vh;
	margin-left:30%;
	width: 44vw;
	display: flex;
	flex-direction: column;
	background: #282424;
	clip-path: polygon( 0 0%, 0% 0, 95% 0, 106% 9%, 100% 91%, 100% 100%, 0% 100%, 0% 100%, 0% 1% );

}


.name_menu_section{
	padding: 4px 0px 4px 35px;
	background: black;

}

.name_menu_section span{
	text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;
	font-size: 1.5em;
	color:white;
}

.option_input_section{
	display: flex;
	flex-direction: column;
	background:#282424;
}

.footer_menu{

	display: flex;
    justify-content: center;
	border-top: 1px solid #3C3636;
    padding: 11px;

}

.redirection_menu{
	border: 2px solid white;
    padding: 5px;
    cursor: pointer;


}

.redirection_menu span{
	color: white
}

.option_hr{
	border-top: 1px solid #3C3636;
    width: 100%;

}

/*
* Video
*/

	/* CheckBox */

.opt_check_container input {
	display: none;
}
  
.opt_checkmark {
	display: flex;
    justify-content: center;
    align-items: center;
	height: 25px;
	width: 25px;
	background-color: #eee;
}
  
.opt_check_container:hover input ~ .opt_checkmark {
	background-color: #ccc;
}
  
.opt_check_container input:checked ~ .opt_checkmark {
	background-color: orange;
}
  
.opt_checkmark:after {
	content: "";
	display: none;
}
  
.opt_check_container input:checked ~ .opt_checkmark:after {
	display: block;
}
  
.opt_check_container .opt_checkmark:after {
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	transform: rotate(45deg);
}
	/* Slider section */
.slider_input_field{

	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 22px;
	justify-content: space-between	;

}
	/* Arrow */

.arrow {
	border: solid orange;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    margin: 0px 4vw 0px 4vw;
	background-color: #282424;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

/*
* ---
*/

.arrow_picker{
	display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 6vw;
}

.arrow_option_field{/*arrow_*/
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 22px;
}

.value_arrow{
	color: white;
	font-size: 1.2em;
	-webkit-text-stroke-width: 0.2px;
	-webkit-text-stroke-color: black;
}

.option_input_name{
	text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;
	width: 8vw;
	color: white;
	font-size: 1.1em;
	-webkit-text-stroke-width: 0.2px;
}

.box_input_val{
	display: flex;
	margin-left: 2vw;
    height: 24px;
    width: 39px;
    box-shadow: inset 0px 0px 2px black;
    justify-content: center;
    align-items: center;
}

.box_input_val span{
	font-size: 1em;
	color: white;
	font-weight: 400;
}

.range{
	-webkit-appearance: none;  /* Override default CSS styles */
	appearance: none;
	width: 400px;
	height: 10px;
	background: #111000;
	outline:none;
	border-radius: 15px;
	overflow: hidden;
}

.range::-webkit-slider-thumb{
	-webkit-appearance: none;
	appearance: none;
	width: 13px;
	height: 20px;
	border-radius: 50%;
	background: orange;
	cursor: pointer;
	box-shadow: -407px 0 0 400px orange;
}

/*
* Anim
*/

@keyframes text_shrink{

	0% { 
		transform: scale(1);
	}
	50% { 
		transform: scale(1.5);
	}
	75%, 72% { 
		transform: scale(1.3); 
	}
	100% { 
		transform: scale(1);
	}
	
}