body { margin: 0; }


#header_ui{
	margin-top: 2vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: absolute;
	width: 100%;
}

#header_ui div{
	font-size: 3vh;
	color: white;
}