body{
    background: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

    font-family: 'Lato',sans-serif;
}

.keyboard_wrapp{
    max-width: 80vw;
    width: 100%;
    background-color: #e7e7e7;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    order: 2;
}

.row{
    display: flex;
}

.keys{
    width: 6vw;
    height: 9vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5vh;
    transition: .2s;
}

.backspace_key{
    width: 7vw;
}

.tab_key{
    width:6vw;
}

.slash_key{
    width:6vw;
}

.caps_lock_key{
    width: 9vw;
}

.enter_key{
    width: 9vw;
}

.shift_key{
    width: 9vw;
}

.shift_right{
    width: 7vw;
}

.space_key{
    max-width: 34vw;
    width: 100%;
}

.line{ 
    position: absolute;
    border-bottom: 0.2vh solid black;
}

.lineZ {
    margin-left: -52vw;
    width: 10vw;
    top: 30vh; 
    transform: rotate(90deg);
}

.lineS {
    margin-left: -49vw;
    width: 17vw;
    margin-top: 33vh;
    transform: rotate(90deg);
}

.lineD {
    margin-left:  -38vw;
    width: 20vw;
    margin-top: -37vh;  
    transform: rotate(90deg);
}

.lineP {
    margin-left:  40vw;
    width: 11vw;
    margin-top: -42vh; 
    transform: rotate(90deg);
}

.lineShift{
    margin-left: -83vw;
    width: 6vw;
    top: 60vh;
    transform: rotate(0deg);
}

.lineSpace {
    margin-left: -4.5vw;
    width: 10vw;
    top: 78vh; 
    transform: rotate(90deg);
}

.lineEchap {
    margin-left: -75vw;
    width: 6vw;
    top: 22vh;
    transform: rotate(90deg);
}

.lineQ {
    margin-left: -73vw;
    width: 13vw;
    top: 49vh;
    transform: rotate(0deg);
}

.lineH {
    margin-left: -5vw;
    width: 16vw;
    top: 35vh;
    transform: rotate(90deg);
}

.lineJ {
    margin-left: 5.5vw;
    width: 16vw;
    top: 35vh;
    transform: rotate(90deg);
}

.lineK {
    margin-left: 16vw;
    width: 16vw;
    top: 35vh;
    transform: rotate(90deg);
}

.text{
    position: absolute; 
    text-align: center;
}

.textZ{
    transform: rotate(-90deg);
    margin-left: -3vw;
    margin-top: -1vh;
}

.textD{
    transform: rotate(-90deg);
    margin-left: -4vw;
    margin-top: -2vh;
}

.textS{
    transform: rotate(-90deg);
    margin-left: 16vw;
    margin-top: -1vh;
}


.textQ{
    transform: rotate(0deg);
    margin-left: -4.5vw;
    margin-top: -2vh;
}

.textShift{
    transform: rotate(0deg);
    margin-left: -3vw;
    margin-top: -0.9vh;
}

.textEchap{
    transform: rotate(-90deg);
    margin-left: -2.5vw;
    margin-top: -1vh;
}

.textJ{
    transform: rotate(-90deg);
    margin-left: -2.5vw;
    margin-top: -1vh;
}

.textK{
    transform: rotate(-90deg);
    margin-left: -4vw;
    margin-top: -2vh;
}

.textP{
    transform: rotate(-90deg);
    margin-left: -2.5vw;
    margin-top: -1vh;
}

.textH{
    transform: rotate(-90deg);
    margin-left: -3.5vw;
    margin-top: -1vh;
}

.textSpace{
    transform: rotate(-90deg);
    margin-left: 10vw;
    margin-top: -1vh;
}

